ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  li {
    margin-top: 10px;
  }
}

.icon {
  margin-right: 10px;
  color: rgb(192, 95, 95);
  transition: all 0.2s;
  opacity: 0.2;

  &:hover {
    transform: translateY(-1.5px);
    opacity: 0.8;
  }

  &:active {
    transform: translateY(-0.75px);
  }
}

.check {
  float: right;
  margin-left: 10px;
}

.hidden {
  visibility: hidden;
}

.visibile {
  visibility: visible;
}

.green {
  color: rgb(121, 160, 121);
}
