.homepage__info__item {
  // background-color: lightgreen;
  padding: 10px;
  margin: 0px 10px;
  // border-radius: 5px;
  box-shadow: 5px 5px 10px rbga(0, 0, 0, 0.3);

  h2 {
    text-align: center;
  }

  a {
    color: black;
  }
}
