.homepage {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: 10px;
}

.homepage__names {
  background-color: #ccc;
  padding: 10px;
  margin: 0px 10px;
  border-radius: 5px;
}

.homepage__info {
  display: grid;
  grid-template-columns: 4fr;
}

.homepage__holiday,
.homepage__item {
  display: grid;
  grid-template-columns: 4fr;
  margin-top: 20px;
}

@media (max-width: 500px) {
  .homepage,
  .homepage__info,
  .homepage__item,
  .homepage__holiday {
    grid-template-columns: 1fr;
  }
}
