input {
  font-size: 2rem;
  padding: 5px;
  text-align: center;
  border-radius: 7px;
  width: 100%;
}

button {
  font-size: 2rem;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 7px;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  padding: 5px;
  outline: none;

  &:hover {
    box-shadow: 2px 2px 5px black;
  }
}
